*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}
p {font-size: 1em;}
ul {list-style: none;}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: rgb(196, 122, 31);
    color: #fff;
}
button:hover {
    background-color: rgb(246, 135, 15);
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(123, 62, 180);
    text-align: end;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(196, 122, 31);
    font-size: 1.8em;
}
header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header, #nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(196, 122, 31);
}
header a:hover{
    color: rgb(246, 135, 15);
}
#fran {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: #fff;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),url(img/prog-img.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#fran h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.8em;
}
#fran h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#sobre-mi{
    display: flex;
    text-align: center;
}
#sobre-mi .container {
    text-align: center;
    padding: 200px 12px;
}
#sobre-mi h1{
    color: rgb(196, 122, 31);
}
#proyectos{
    background-color: rgb(30,30,30);
    color: #fff;
    text-align: center;
}
#proyectos .container{
    padding: 100px 12px;
}
#proyectos h3{
    margin-top: 0;
    font-size: 1.7em;
}
#proyectos .cartas{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 12px;
}

.cartas:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url(img/prog-img.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    margin: 12px;
}

.cartas:nth-child(2){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),url(img/prog-img1.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    margin: 12px;
}

.cartas:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),url(img/fondo-1.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    margin: 12px;
}